h1 {
  color: purple;
  text-align: center;
  background-color: black;
}

body {
  background-color: #F08080
}
#header {
  color: #F08080;
  font-size: 30px;
  text-align: center;
  background-color: white;
  margin: 0px;
}

h3 {
  color: yellow;
  font-size: 20px;
}

.photo-caption {
  color: black;
  font-size: 20px;
}

.picture-container {
  height: 250px;
  width: 250px;
  overflow: hidden;
}

.musician-photos .picture-container {
  float: left;
  margin: 25px;
  border: solid 2px #58bced;
}
